* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  background: url(img/santa.svg) no-repeat;
  background-color: rgba(0, 0, 0, 0.56);
  background-blend-mode: multiply;
  background-attachment: scroll;
  background-size: cover;
}

.header_possition {
  display: flex;
  margin: 0px 20px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.call_img {
  background: url(img/Vector-2.png) no-repeat;
  height: 15px;
  width: 14px;
  display: flex;
}

.calcel {
  display: flex;
  align-items: center;
}
.calcel :nth-child(2) {
  color: white;
  margin: 0px 10px;
  font-family: Avenir Next Cyr;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
}
.calcel :nth-child(3) {
  background: url(img/Vector-3.png) no-repeat, url(img/Vector-4.png) no-repeat center left 25px;
  height: 15PX;
  width: 43px;
}

.logo_header {
  background: url(img/Vector.png) no-repeat;
  height: 50px;
  width: 230px;
}

.calendar_img {
  border: 1px solid #FFFFFF;
  width: 166px;
  height: 37px;
  background: transparent;
  background: url(img/calendar.svg) no-repeat center left 26px;
}
.calendar_img p {
  font-family: Avenir Next Cyr;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.main_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 293px;
}
.main_center :nth-child(1) h1 {
  font-family: Avenir Next Cyr;
  font-size: 50px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  text-shadow: 0px 4px 30px #000000;
}
.main_center :nth-child(2) p {
  font-family: Avenir Next Cyr;
  font-size: 30px;
  line-height: 35px;
  margin: 40px 0px 80px 0px;
  color: #FFFFFF;
}
.main_center :nth-child(3) {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main_center :nth-child(3) :nth-child(1) {
  font-family: Avenir Next Cyr;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  letter-spacing: 0.04em;
  color: #000000;
}
.main_center :nth-child(3) :nth-child(2) {
  font-family: Avenir Next Cyr;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin-left: 20px;
  letter-spacing: 0.04em;
  background: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
.main_center :nth-child(3) button {
  width: 270px;
  height: 57px;
}

.container {
  display: none;
}

.b1, .b2, .b3 {
  width: 36px;
  height: 5px;
  background-color: white;
  margin: 5px 0;
  transition: 0.3s;
}

.change .b1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .b3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.change .b2 {
  opacity: 0;
}

.menu_burger {
  display: flex;
  flex-direction: column;
}
.menu_burger li {
  width: 100%;
  height: 68px;
  background: black;
  text-align: center;
  border-bottom: 1px solid #242424;
}
.menu_burger li a {
  font-family: Avenir Next Cyr;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  top: calc(50% - 15px);
}
.menu_burger .columns {
  border-bottom: 1px solid #242424;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 68px;
  background: black;
}
.menu_burger .columns p:nth-child(even) {
  margin-left: 15px;
}
.menu_burger .columns p:nth-child(2) {
  margin-right: 35px;
}
.menu_burger p {
  font-family: Avenir Next Cyr;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  color: white;
  position: relative;
  top: calc(50% - 16px);
}

.possition {
  position: absolute;
  transform: translate(0px, -1200px);
}

.showClose {
  transform: translate(0px, 0px);
  transition-duration: 1s;
  position: absolute;
  width: 100%;
}

.scroll_menu_2 {
  order: 1;
}

.scroll_2 {
  order: 2;
}

.scroll_3 {
  order: 4;
}

.icon_fon {
  border: 1px solid white;
  background: black;
  background-size: cover;
  width: 70px !important;
}

.fitnes_name {
  font-size: 25px;
  color: white;
  display: none;
  order: 3;
}

.form_action {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
.form_action label {
  margin-top: 25px;
  font-size: 16px;
  color: white;
  align-self: center;
}
.form_action label input {
  width: 130px;
  height: 35px;
  background: #12143A;
  margin-left: 20px;
  font-size: 18px;
  opacity: 0.6;
  color: white;
}
.form_action .submit_form {
  height: 30px;
  width: 130px;
  text-align: center;
  border-radius: 15px;
  background: #12143A;
  opacity: 0.7;
  color: white;
  align-self: center;
  margin-top: 15px;
}